#config-list a{
  color: grey;
}
#config-list .nav-item {
  border-bottom: 1px solid #e0dede;
  border-radius: 2px;
  border-right: 1px solid #e0dede;
  border-left: 1px solid #e0dede;
}

#config-list .nav-item:first-child {
  border-top: 1px solid #e0dede;
}

#config-list .nav-item:hover{
  background: #efefef;
}

#config-list .active-config-item{
  color: #0d0d0e;
  font-weight: 500;
  background: #efefef;
  font-size: 20px;
}
#config-list .active-config-item a{
  color: #0d0d0e;
}

#config-list{
  height: calc(100vh - 184px);
  overflow-y: auto;
}

#env-grid{
  height: calc(100vh - 280px);
}
